parameters:
    level: max
    paths:
        - bin/
        - public/
        - src/
        - tests/
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/console-application.php
    reportUnmatchedIgnoredErrors: false

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon
